.banner {
    width: 100%;
    float: left;
    background-image: url(/images/maple-leaf-border-background-orange-watercolor-autumn-season.jpg);
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.container {
    width: 100%;
    display: block;
    padding-top: 125px;
}

.catalog_text {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    transform: scaleY(1.15);
}

hr {
    border: none;
    border-radius: 1px;
    height: 10px;
    background-color: black;
    margin: 0;
    width: 100%;
    position: absolute;
    z-index: 900;
}
