.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 10px;
    padding-top: 20px;
    max-width: 100%;
    flex-wrap: wrap;
    background-color: #fbb351;
}

.title_text {
    width: 80%;
    font-size: 30px;
    color: #30302e;
    text-align: left;
    font-weight: bold;
}

.book_section {
    display: flex;
    background-color: #f8f9fa;
    padding: 10px;
    max-width: 82%;

    background: linear-gradient(#eadfd9, #e0c196);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0 20px 10px #e0c196;
}

hr {
    border: none;
    border-radius: 1px;
    height: 10px;
    background-color: black;
    margin: 0;
    width: 100%;
    position: absolute;
    z-index: 900;
}