.header_section {
    max-width: 100%;
    display: flex;
    padding-top: 40px;
    padding-bottom: 43px;
    margin: 0 auto;
}

.dropdown_item:hover {
    background-color: #5a5857;
    color: white;
}

.main {
    flex: 1;
    margin: 0px 30px;
    display: inline-block;
    order: 2;
    max-width: 1000px;
}