.container {
    position: sticky;
    z-index: 1000;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    top: 0;
    padding-bottom: 15px;
}

.header_section {
    width: 100%;
    background-color: #2b2a29;
    clip-path: polygon(0 0, 100% 0, 96% 100%, 3% 100%);
    height: auto;
    padding: 10px 0px;
}