/* .navbar {
    position: sticky;
    width: 100%;
    float: left;
    background-color: #2b2a29;
    clip-path: polygon(0 0, 100% 0, 96% 100%, 3% 100%);
    height: auto;
    padding: 10px 0px;
    z-index: 1000;
}

.container {
    position: sticky;
    z-index: 1000;
}

.header_section_top {
    width: 100%;
    float: left;
    background-color: #2b2a29;
    clip-path: polygon(0 0, 100% 0, 96% 100%, 3% 100%);
    height: auto;
    padding: 10px 0px;
}

.custom_menu {
    width: 100%;
    margin: 0 auto;
    text-align: center;
} */


.navbar {
    position: -webkit-sticky;
    /* For Safari */
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #333;
    z-index: 1000;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar ul li {
    float: left;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: #111;
}

/* Adding a height to test stickiness */
body {
    margin: 0;
    padding: 0;
    height: 2000px;
    /* Ensure there's enough content to scroll */
}